{# empty Twig template #}


<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>From address</th>
            <th>To address</th>
            <th>User</th>
            <th>Created at</th>
            <th>Updated at</th>

        </tr>
    </thead>
    <tbody>
            <tr>
                <td>{{userRide.rides.0.ride.fromAddress}}</td>
                <td>{{userRide.rides.0.ride.fromAddress}}</td>
                <td>{{userRide.rides.0.ride.toAddress}}</td>
                <td>{{userRide.firstName}}</td>
                <td>{{userRide.rides.0.createdAt.date}}</td>
                <td>{{userRide.rides.0.updatedAt.date}}</td>
            </tr>
    </tbody>
</table>