{# empty Twig template #}

List of all rides
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>From address</th>
            <th>To address</th>
            <th>User</th>
            <th>Created at</th>
            <th>Updated at</th>

        </tr>
    </thead>
    <tbody>
        {% for ride in rides %}
            <tr>
                 <td>{{ride.id}}</td>
                <td>{{ride.fromAddress}}</td>
                <td>{{ride.toAddress}}</td>
                <td>{{ride.ownerId}}</td>
                <td>{{ride.createdAt.date}}</td>
                <td>{{ride.updatedAt.date}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
